<nav class="navbar navbar-expand-lg navbar-light bg-white border-top border-bottom">
  <div class="container">
    <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="navbar-nav me-auto">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Productos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_producto' %}">Agregar Producto</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_productos' %}">Ver Productos</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Categorías</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_categoria' %}">Agregar Categoría</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_categorias' %}">Ver Categorías</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Proveedores</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_proveedor' %}">Agregar Proveedor</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_proveedores' %}">Ver Proveedores</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Ventas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_venta' %}">Agregar Venta</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_ventas' %}">Ver Ventas</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Clientes</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar Cliente</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_clientes' %}">Ver Clientes</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Empleados</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_empleado' %}">Agregar Empleado</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_empleados' %}">Ver Empleados</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Inventario</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_movimiento_inventario' %}">Agregar Movimiento</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_movimientos_inventario' %}">Ver Movimientos</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav>